<div class="row episode">
	<div class="small-3 columns">

		<!-- EPISODE PODCAST IMAGE -->
		<% if !podcast.nil? %><h2><img src="<%= Artwork::ARTWORK_BASE_URL + podcast.slugintern %>.jpg"></h2><% end %>

		<!-- EPISODE PLAYTIME INFO FOR SMALL DEVICES-->
		<div class="show-for-small playtime-small">
			<!-- end time -->
			<div class="time-info"><i class="icon-stop"></i> <%= episode['ends'].strftime("%H:%M") %></div>
			<!-- time left -->
			<div class="time-info"><i class="icon-arrow-right"></i> <span class="timeleft"></span> Min.</div>
			<!-- <div class="time-info"><span class="percentplayed"></span></div>
			<div class="time-info"><span class="percentleft"></span></div> -->
		</div>

		<!-- EPISODE PLAYTIME INFO FOR LARGE DEVICES-->
		<div class="hide-for-small playtime-large">
			<!-- end time -->
			<div class="time-info"><strong><i class="icon-stop"></i> Ende:</strong> <%= episode['ends'].strftime("%H:%M") %></div>
			<!-- left time + progress bar -->
			<div class="time-info"><strong><i class="icon-arrow-right"></i> Rest:</strong> <span class="timeleft"></span> Min.</div>
			<div class="progress time-info"><span class="meter liveprogress" style="width: 0%"></span></div>
			<!-- <div class="time-info"><span class="percentplayed"></span></div>
			<div class="time-info"><span class="percentleft"></span></div> -->
		</div>
	</div>

	<div class="small-6 columns">

		<!-- NAME OR TRACK DESCRIPTION -->
		<h2><%= !podcast.nil? ? podcast.name : episode['artist_name'] %></h2>

		<!-- TRACK TITLE -->
		<h5><%= episode['track_title'] %></h5>

		<% if !podcast.nil? %>
			<!-- PODCAST DESCRIPTION -->
			<p class="hide-for-small"><%= podcast.description %></p>

			<!-- SOCIAL LINKS - MORE METAINFO FOR PODCAST -->
		    <ul class="inline-list hide-for-small">
		      <!-- WEBSITE -->
		      <% if !podcast.url.blank? %><li><a href="<%= podcast.url %>"><i class="icon-globe"></i> Webseite</a></li><% end %>
		      <!-- FEED -->
		      <% if !podcast.feedurl.blank? %><li><a href="http://b.instaca.st/button/subscribe?url=<%= podcast.feedurl %>"><i class="icon-rss"></i> Abonnieren</a></li><% end %>
		      <!-- TWITTER -->
		      <% if !podcast.twitterhandle.blank? %><li><a href="http://www.twitter.com/<%= podcast.twitterhandle %>"><i class="icon-twitter"></i> Twitter</a></li><% end %>
		      <!-- ADN -->
		      <% if !podcast.adnhandle.blank? %><li>
        		<a href="https://alpha.app.net/<%= podcast.adnhandle %>">ADN</a>
      		</li><% end %>
		      <!-- FLATTR -->
		      <% if !podcast.flattrhandle.blank? %><li>
		        <a href="https://flattr.com/submit/auto?user_id=<%= podcast.flattrhandle %>&url=http://reliveradio.de/<%= podcast.slugintern %>&title=<%= podcast.name %> im ReliveRadio&language=de&category=audio"><i class="icon-heart"></i> Flattr</a>
		      </li><% end %>
		      <!-- HOERSUPPE -->
		      <% if !podcast.hoersuppeslug.blank? %><li><a href="http://hoersuppe.de/podcast/<%= podcast.hoersuppeslug %>"><i class="icon-headphones"></i> Hörsuppe</a></li><% end %>
		    </ul>
		    <!-- MORE INFO LINK FOR MOBILE VIEW -->
			<p class="show-for-small"><a target="_blank" href="<%= info_url(:slugintern => podcast.slugintern) %>"><i class="icon-info-sign"></i> Mehr Informationen</a></p>
		<% end %>
		<div class="hide-for-small" style="text-align: center;">
			<span class="livestreambutton off">Livestream starten</span>
		</div>
	</div>

	<div class="small-3 columns">
		Aktuell 11 Livehörer!
	</div>
</div>
<!-- START LIVESTREAM PLAYER BUTTON FOR SMALL DEVICES-->
<div class="row show-for-small">
	<div class="small-12 columns">
		<div class="livestreambutton off"></div>
	</div>
</div>

<!-- PROGRESSBAR SETUP -->
<%= javascript_tag do %>
	window.starts = new Date(<%= @live_episode['starts'].to_i %> * 1000);
	window.ends = new Date(<%= @live_episode['ends'].to_i %> * 1000);
<% end %>
