<div class="panel">
	<h4>Aktuelle Livehörer</h4>
	<p>
		<!-- Do not touch the following line. This is the identifier for the JS to update listeners count -->
		<div id="listeners"><%= @listeners %></div>
	</p>
</div>
<%= render 'livestream_widget' %>
<%= render 'flattr_widget' %>
<div id="hoersuppe-widget">
	<%= render 'hoersuppe_widget', :live_podcasts => @live_podcasts %>
</div>
<%= render 'chat_widget' %>