<div id="listeners">
	<%= @listeners %>
</div>
<%= render 'livestream_widget' %>
<%= render 'flattr_widget' %>
<div id="hoersuppe-widget">
	<%= render 'hoersuppe_widget', :live_podcasts => @live_podcasts %>
</div>
<%= render 'chat_widget' %>