<div class="row">
	<div class="large-12 columns">
		<h1>Sendeplan</h1>
		<%= link_to "Alle Podcasts", overview_url %>
	</div>
</div>

<% @episodes.each do |episode| %>
<% podcast = episode["db"] %>				
	<div class="row episode">
		<div class="large-3 columns">
			<% if !podcast.nil? %><h2><img src="http://reliveradio.de/podcasts/logos/<%= podcast.slugintern %>.jpg"></h2><% end %>
			<p><%= episode['starts'].strftime("%H:%M") %> - <%= episode['ends'].strftime("%H:%M") %></p>
			
		</div>
		<div class="large-9 columns">
			<h2><%= episode['artist_name'] %></h2>
			<% if episode["isLive"] %>
				<p><span class="success label">Jetzt Live!</span></p>
			<% end %>
			<p><%= episode['track_title'] %></p>
			<p><% if !podcast.nil? %><%= podcast.description %><% end %></p>
			<% if !podcast.nil? %><p><%= link_to "Mehr Infos", info_url(:slugintern => podcast.slugintern) %></p><% end %>
		</div>
	</div>
<% end %>	

