<%= stylesheet_link_tag "home" %>
<% title "Index" %>

<div class="row">
	<div class="small-12 columns">
		<h1>Willkommen beim ReliveRadio</h1>
		<h2 class="subheader">Wir senden täglich 24 Stunden lang, direkt aus der deutschsprachigen Podcastlandschaft</h2>
		<p>Das ReliveRadio bietet dir den ganzen Tag lang deutschsprachige Podcasts auf drei Streams. Wähle aus Technik, Kultur oder dem allgemeinen Mix und höre deine Lieblingspodcasts über unsere Website oder dein Webradio. ReliveRadio ist ideal, um einfach und schnell in die Podcastlandschaft hineinzuhorchen und dabei ganz neue Perlen zu entdecken.</p>
	</div>

</div>

<div class="row">
	<div class="large-4 columns">
		<a href="<%= mix_stream_url %>"><h2 class="genre-header mix animated flipInX"><i class="icon-circle-arrow-right"></i> Mix</h2></a>
		<h5 class="subheader">Technik, Kultur, 42</h5>
		<p>Der Mix ist unser Vollprogramm. Vom Audiotagebuch über die Comedy-Show und den Sportkommentar bis hin zum Spieleratgeber wird hier alles gesendet, was das Herz begehrt.</p>
	</div>
	<div class="large-4 columns">
		<a href="<%= technique_stream_url %>"><h2 class="genre-header technique animated flipInX"><i class="icon-circle-arrow-right"></i> Technik</h2></a>
		<h5 class="subheader">Internet, Software, Gadgets</h5>
		<p>Was tut sich im Internet? Welche Features hat die neue Smartphone-App und was sagen Datenschützer dazu? Im Technik-Stream findest du Podcasts, die sich mit genau solchen Dingen befassen.</p>
	</div>
	<div class="large-4 columns">
		<a href="<%= culture_stream_url %>"><h2 class="genre-header culture animated flipInX"><i class="icon-circle-arrow-right"></i> Kultur</h2></a>
		<h5 class="subheader">Filme, Kochen, Gesellschaft</h5>
		<p>Wie heisst der neue Film mit Bud Spencer? Welches Buch soll ich als nächstes lesen und was soll mir dieser Songtext sagen? Im Kultur-Stream findest du Podcasts, die sich mit genau solchen Themen befassen.</p>
	</div>
</div>

<% if !@index_info.blank? and @index_info.display %>
<div class="row">
	<div class="large-12 columns">
		<h2><%= @index_info.title %></h2>
		<p><%= raw @index_info.content %></p>
	</div>
</div>
<% end %>
