<% title "Sendeplan" %>

<!-- TOPIC -->
<%= render 'topic' %>

<%= javascript_include_tag "ajaxbutton" %>
<div id="ajaxbutton" class="button">Ajax Reload</div>

<div class="row">
	<!-- EPISODES -->
	<div id="episodes" class="large-9 columns">
		<%= render 'episodes', :episodes => @episodes %>
	</div>
	<!-- SIDEBAR -->
	<div class="large-3 columns">
		<%= render 'sidebar', :live_podcasts => @live_podcasts %>
	</div>
</div>

<!-- LIVESTREAM MEDIAELEMENT PLAYER -->
<%= javascript_include_tag 'livestreamplayer' %>