<div class="row">
	<div class="small-12 columns">
		<h1>ReliveRadio Sendeplan</h1>
		<h4 class="subheader hide-for-small">Das ReliveRadio sendet rund um die Uhr Podcastformate aus ganz verschiedenen Themenbereichen. Das “Sendebetrieb” begann erst Mitte Oktober 2012, weshalb sich das Projekt noch in einer experimentellen Anfangsphase befindet. Der Radiostream lief seitdem jedoch nahezu unterbrechungsfrei.</h4>		
		<hr />
	</div>
</div>

<div class="row">
	<div class="large-9 columns">
		<% @episodes.each do |episode| %>
			<% podcast = episode["db"] %>				
			<div class="row episode">
				<div class="small-3 columns">
					<% if !podcast.nil? %><h2><img src="http://reliveradio.de/podcasts/logos/<%= podcast.slugintern %>.jpg"></h2><% end %>
					<% if episode["isLive"] %>
						<p><span class="isLive"><i class="icon-volume-up"></i> <%= episode['starts'].strftime("%H:%M") %> - <%= episode['ends'].strftime("%H:%M") %></span></p>
					<% else %>
						<p><i class="icon-bell"></i> <%= episode['starts'].strftime("%H:%M") %> - <%= episode['ends'].strftime("%H:%M") %></p>
					<% end %>
				</div>
				<div class="small-9 columns">
					<% if episode["isLive"] %>
						<div id="play" class="button success"><i class="icon-play"></i> Jetzt im Livestream hören</div>
					<% end %>
					<h2><%= !podcast.nil? ? podcast.name : episode['artist_name'] %></h2>
					<h5><%= episode['track_title'] %></h5>
					<p class="hide-for-small"><% if !podcast.nil? %><%= podcast.description %><% end %></p>
				    <ul class="inline-list hide-for-small">
				      <% if !podcast.url.blank? %><li><a href="<%= podcast.url %>"><i class="icon-globe"></i> Webseite</a></li><% end %>
				      <% if !podcast.feedurl.blank? %><li><a href="http://b.instaca.st/button/subscribe?url=<%= podcast.feedurl %>"><i class="icon-rss"></i> Abonnieren</a></li><% end %>
				      <% if !podcast.twitterhandle.blank? %><li><a href="http://www.twitter.com/<%= podcast.twitterhandle %>"><i class="icon-twitter"></i> Twitter</a></li><% end %>
				      <% if !podcast.flattrhandle.blank? %><li>
				        <a href="https://flattr.com/submit/auto?user_id=<%= podcast.flattrhandle %>&url=http://reliveradio.de/<%= podcast.slugintern %>&title=<%= podcast.name %> im ReliveRadio&language=de&category=audio"><i class="icon-heart"></i> Flattr</a>
				      </li><% end %>
				      <% if !podcast.hoersuppeslug.blank? %><li><a href="http://hoersuppe.de/podcast/<%= podcast.hoersuppeslug %>"><i class="icon-headphones"></i> Hörsuppe</a></li><% end %>
				    </ul>
					<% if !podcast.nil? %><p class="show-for-small"><i class="icon-info-sign"></i> <%= link_to "Mehr Informationen", info_url(:slugintern => podcast.slugintern) %></p><% end %>
				</div>
			</div>
			<hr />
		<% end %>	
	</div>
	<!-- SIDEBAR -->
	<div class="large-3 columns">
		<div class="panel">
			<h4>Livestream</h4>
			<p><audio id="player" src="http://stream.reliveradio.de:8000/24.mp3"></p>
			<p>Hier kommen Stream URLs hin</p>
			<h4>Mehr Infos</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus mollitia ullam exercitationem ipsam sequi tempore vel nesciunt optio asperiores itaque nulla quia laudantium numquam. Ipsa totam facere possimus maiores qui.</p>
		</div>
	</div>
</div>

<script>
	// using jQuery
	var player = new MediaElementPlayer('#player',{
	    startVolume: 0.8,
	    // useful for <audio> player loops
	    loop: false,
	    // enables Flash and Silverlight to resize to content size
	    enableAutosize: true,
	    // the order of controls you want on the control bar (and other plugins below)
	    features: ['playpause','volume'],
	    audioWidth: 130,
	    // Hide controls when playing and mouse is not over the video
	    alwaysShowControls: false,
	    // force iPad's native controls
	    iPadUseNativeControls: false,
	    // force iPhone's native controls
	    iPhoneUseNativeControls: false, 
	    // force Android's native controls
	    AndroidUseNativeControls: false,
		pluginPath: '/assets/mediaelement_rails/',
		// name of flash file
		flashName: 'flashmediaelement.swf',
		// name of silverlight file
		silverlightName: 'silverlightmediaelement.xap',
		// default if the <video width> is not specified
	    enableKeyboard: true,
	    // when this player starts, it will pause other players
	    pauseOtherPlayers: true,
	    // array of keyboard commands
	    keyActions: []
	});
	$("#play").click(function() {
		// player.pause();
		// player.setSrc('mynewfile.mp4');
		player.play();
	});
</script>
