<div class="row">
	<div class="large-12 columns">
		<h1>ReliveRadio Sendeplan</h1>
		<h4 class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis repudiandae dolorum fugiat ratione nisi consectetur dolores sunt voluptatibus suscipit inventore delectus cumque eligendi alias animi mollitia! Illum quaerat velit ab.</h4>
		<hr />
	</div>
</div>

<div class="row">
	<div class="large-9 columns">
		<div class="panel">
			Hier kommt der Liveplayer hin.
		</div>
		<% @episodes.each do |episode| %>
			<% podcast = episode["db"] %>				
			<div class="row episode">
				<div class="large-3 columns">
					<% if !podcast.nil? %><h2><img src="http://reliveradio.de/podcasts/logos/<%= podcast.slugintern %>.jpg"></h2><% end %>
					<p><i class="icon-bell"></i> <%= episode['starts'].strftime("%H:%M") %> - <%= episode['ends'].strftime("%H:%M") %></p>
				</div>
				<div class="large-9 columns">
					<% if episode["isLive"] %>
						<h5><span class="success label"><i class="icon-volume-up"></i> Jetzt Live!</span></h5>
					<% end %>
					<h2><%= !podcast.nil? ? podcast.name : episode['artist_name'] %></h2>
					<h5><%= episode['track_title'] %></h5>
					<p><% if !podcast.nil? %><%= podcast.description %><% end %></p>
					<% if !podcast.nil? %><p><i class="icon-info-sign"></i> <%= link_to "Mehr Informationen", info_url(:slugintern => podcast.slugintern) %></p><% end %>
				</div>
			</div>
			<hr />
		<% end %>	
	</div>
	<!-- SIDEBAR -->
	<div class="large-3 columns">
		<div class="panel">
			<h4>Livestream</h4>
			<p>Hier kommen Stream URLs hin</p>
			<h4>Mehr Infos</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus mollitia ullam exercitationem ipsam sequi tempore vel nesciunt optio asperiores itaque nulla quia laudantium numquam. Ipsa totam facere possimus maiores qui.</p>
		</div>
	</div>
</div>


