<div class="row">
	<div class="small-12 columns">
		<h1>ReliveRadio Sendeplan</h1>
		<h4 class="subheader hide-for-small">Das ReliveRadio sendet rund um die Uhr Podcastformate aus ganz verschiedenen Themenbereichen. Ideal zum einfach mal reinhören und neue Podcasts entdecken.</h4>
		<hr />
	</div>
</div>

<div class="row">
	<div class="large-9 columns">
		<% @episodes.each do |episode| %>
			<% podcast = episode["db"] %>
			<div class="row episode">
				<div class="small-3 columns">
					<!-- EPISODE PODCAST IMAGE -->
					<% if !podcast.nil? %><h2><img src="http://reliveradio.de/podcasts/logos/<%= podcast.slugintern %>.jpg"></h2><% end %>
					<!-- EPISODE PLAYTIME -->
					<% if episode["isLive"] %>
						<p><span class="isLive"><i class="icon-volume-up"></i> <%= episode['starts'].strftime("%H:%M") %> - <%= episode['ends'].strftime("%H:%M") %></span></p>
					<% else %>
						<p><i class="icon-bell"></i> <%= episode['starts'].strftime("%H:%M") %> - <%= episode['ends'].strftime("%H:%M") %></p>
					<% end %>
				</div>
				<div class="small-9 columns">
					<!-- START LIVESTREAM PLAYER BUTTON -->
					<% if episode["isLive"] %>
						<div id="play" class="button success"><i class="icon-play"></i> Jetzt im Livestream hören</div>
						<div class="progress"><span id="liveprogress" class="meter" style="width: 0%"></span></div>
						<div id="duration"></div>
						<div id="timeleft"></div>
						<div id="percentplayed"></div>
					<% end %>
					<!-- NAME TRACK DESCRIPTION -->
					<h2><%= !podcast.nil? ? podcast.name : episode['artist_name'] %></h2>
					<h5><%= episode['track_title'] %></h5>
					<p class="hide-for-small"><% if !podcast.nil? %><%= podcast.description %><% end %></p>
					<% if !podcast.nil? %>
						<!-- SOCIAL LINKS - MORE METAINFO FOR PODCAST -->
					    <ul class="inline-list hide-for-small">
					      <!-- WEBSITE -->
					      <% if !podcast.url.blank? %><li><a href="<%= podcast.url %>"><i class="icon-globe"></i> Webseite</a></li><% end %>
					      <!-- FEED -->
					      <% if !podcast.feedurl.blank? %><li><a href="http://b.instaca.st/button/subscribe?url=<%= podcast.feedurl %>"><i class="icon-rss"></i> Abonnieren</a></li><% end %>
					      <!-- TWITTER -->
					      <% if !podcast.twitterhandle.blank? %><li><a href="http://www.twitter.com/<%= podcast.twitterhandle %>"><i class="icon-twitter"></i> Twitter</a></li><% end %>
					      <!-- FLATTR -->
					      <% if !podcast.flattrhandle.blank? %><li>
					        <a href="https://flattr.com/submit/auto?user_id=<%= podcast.flattrhandle %>&url=http://reliveradio.de/<%= podcast.slugintern %>&title=<%= podcast.name %> im ReliveRadio&language=de&category=audio"><i class="icon-heart"></i> Flattr</a>
					      </li><% end %>
					      <!-- HOERSUPPE -->
					      <% if !podcast.hoersuppeslug.blank? %><li><a href="http://hoersuppe.de/podcast/<%= podcast.hoersuppeslug %>"><i class="icon-headphones"></i> Hörsuppe</a></li><% end %>
					    </ul>
					    <!-- MORE INFO LINK FOR MOBILE VIEW -->
						<p class="show-for-small"><a href="<%= info_url(:slugintern => podcast.slugintern) %>"><i class="icon-info-sign"></i> Mehr Informationen</a></p>
					<% end %>
				</div>
			</div>
			<hr />
		<% end %>	
	</div>
	<!-- SIDEBAR -->
	<div class="large-3 columns">
		<div class="panel">
			<h4>Livestream</h4>
			<p><audio id="player" src="http://stream.reliveradio.de:8000/24.mp3"></p>
			<p>Hier kommen Stream URLs hin</p>

			<h4>Work in Progress</h4>
			<p>Der "Sendebetrieb" begann Mitte Oktober 2012, weshalb sich das Projekt noch in einer experimentellen Anfangsphase befindet. Der Radiostream läuft seitdem jedoch nahezu unterbrechungsfrei.</p>
		</div>
	</div>
</div>


<!-- PROGRESS BAR UPDATER -->
<script>

	// catch the progressbar from dom
	var progressbar = $("#liveprogress");
	var duration_view = $("#duration");
	var time_left_view = $("#timeleft");
	var percent_played = $("#percentplayed");

	function update_progressbar(start_time, end_time) {
	    // convert dates to milliseconds
	    var start = start_time.getTime();
	    var end = end_time.getTime();
		var now = new Date().getTime();
		
		// do math
		var duration = Math.abs(end - start);
		var played = Math.abs(now - start);
		// more percent math
		var percent_left = (played / duration) * 100;
		var percentplayed = Math.floor(100 - percent_left);
		var time_left = Math.abs(end - now);

		// update view elements
		progressbar.width(percent_left + '%');
		duration_view.text("Insgesamt " + Math.floor(duration / 60 / 1000) + " Minuten");
		time_left_view.text("Noch " + Math.floor(time_left / 60 / 1000) + " Minuten");
		percent_played.text(percentplayed + "%");
	}
	
	// data is passed in by rails server here
	// var d = new Date(year, month, day, hours, minutes, seconds, milliseconds);
	var starts = new Date(<%= @episodes.first['starts'].strftime('%Y,%m,%d,%H,%M,%S,0') %>);
	var ends = new Date(<%= @episodes.first['ends'].strftime('%Y,%m,%d,%H,%M,%S,0') %>);
	starts.setMonth(starts.getMonth() - 1);
	ends.setMonth(ends.getMonth() - 1);

	update_progressbar(starts, ends);

	// refresh time in milliseconds
	// this refreshes every 1 minute
	var intervalTime = 1 * 60 * 1000;
	// start timer
	window.setInterval(function(){
		update_progressbar(starts, ends);
		// check if podcast played completely
		var now = new Date();
		if (now > ends) {
			location.reload();
		}
	}, intervalTime);
</script>


<!-- LIVESTREAM MEDIAELEMENT PLAYER -->
<script>
	// using jQuery
	var player = new MediaElementPlayer('#player',{
	    startVolume: 0.8,
	    // useful for <audio> player loops
	    loop: false,
	    // enables Flash and Silverlight to resize to content size
	    enableAutosize: true,
	    // the order of controls you want on the control bar (and other plugins below)
	    features: ['playpause','volume'],
	    audioWidth: 130,
	    // Hide controls when playing and mouse is not over the video
	    alwaysShowControls: false,
	    // force iPad's native controls
	    iPadUseNativeControls: false,
	    // force iPhone's native controls
	    iPhoneUseNativeControls: false, 
	    // force Android's native controls
	    AndroidUseNativeControls: false,
		pluginPath: '/assets/mediaelement_rails/',
		// name of flash file
		flashName: 'flashmediaelement.swf',
		// name of silverlight file
		silverlightName: 'silverlightmediaelement.xap',
		// default if the <video width> is not specified
	    enableKeyboard: true,
	    // when this player starts, it will pause other players
	    pauseOtherPlayers: true,
	    // array of keyboard commands
	    keyActions: []
	});
	$("#play").click(function() {
		// player.pause();
		// player.setSrc('mynewfile.mp4');
		player.play();
	});
</script>
