<% title "Sendeplan" %>

<!-- TOPIC -->
<%= render 'topic' %>

<div class="row">
	<div class="large-9 columns">
		<% if !@episodes.blank? %>
			<!-- SHOW ALL UPCOMING PODCASTS -->
			<% @episodes.each do |episode| %>
				<%= render 'episode', :episode => episode %>
			<% end %>
		<% end %>
	</div>
	<!-- SIDEBAR -->
	<%= render 'sidebar', :live_podcasts => @live_podcasts %>
</div>

<% if !@episodes.blank? %>
	<%= javascript_tag do %>
		// var d = new Date(year, month, day, hours, minutes, seconds, milliseconds);
		window.starts = new Date(<%= @episodes.first['starts'].strftime('%Y,%m,%d,%H,%M,%S,0') %>);
		window.ends = new Date(<%= @episodes.first['ends'].strftime('%Y,%m,%d,%H,%M,%S,0') %>);
	<% end %>
	<%= javascript_include_tag 'progressbar' %>
<% end %>

<!-- LIVESTREAM MEDIAELEMENT PLAYER -->
<%= javascript_include_tag 'livestreamplayer' %>