<% title "Sendeplan" %>

<!-- PROGRESS BAR FOR SMALL DEVICES -->
<div class="progress show-for-small"><span class="meter liveprogress" style="width: 0%"></span></div>

<div class="live">
	<div class="row">
		<div class="small-12 columns">
			<%= render 'live_episode', :episode => @live_episode, :podcast => @live_episode["db"] %>
		</div>
	</div>
</div>

<div class="upcoming show-for-small"><i class="icon-arrow-down"></i> Nächste Podcasts <i class="icon-arrow-down"></i></div>

<div class="row">
	<!-- EPISODES -->
	<div id="episodes" class="large-9 columns">
		<%= render 'episodes', :episodes => @episodes %>
	</div>
	<!-- SIDEBAR -->
	<div class="large-3 columns">
		<%= render 'sidebar', :live_podcasts => @live_podcasts %>
	</div>
</div>

<!-- LISTENERS COUNT SETUP -->
<%= javascript_tag do %>
	<% if !@listeners.blank? %>
		window.listeners = <%= @listeners %>;
	<% else %>
		window.listeners = -1;
	<% end %>
<% end %>

<%= javascript_include_tag 'home' %>
