<div class="row">
	<div class="large-12 columns">
		<h1>Sendeplan</h1>
	</div>
</div>

<% @episodes.each do |episode| %>
	<% podcast = episode["db"] %>				
	<div class="row episode">
		<div class="large-3 columns">
			<% if !podcast.nil? %><h2><img src="http://reliveradio.de/podcasts/logos/<%= podcast.slugintern %>.jpg"></h2><% end %>
			<p><%= episode['starts'].strftime("%H:%M") %> - <%= episode['ends'].strftime("%H:%M") %></p>
		</div>
		<div class="large-9 columns">
			<h2><%= !podcast.nil? ? podcast.name : episode['artist_name'] %></h2>
			<p>
				<% if episode["isLive"] %>
					<span class="success label">Jetzt Live!</span>
				<% end %>
				<%= episode['track_title'] %>
			</p>
			<p><% if !podcast.nil? %><%= podcast.description %><% end %></p>
			<% if !podcast.nil? %><p><%= link_to "Mehr Informationen", info_url(:slugintern => podcast.slugintern) %></p><% end %>
		</div>
	</div>
<% end %>	

