<div class="row">
	<div class="small-12 columns">
		<h1>ReliveRadio Sendeplan</h1>
		<h4 class="subheader hide-for-small">Das ReliveRadio sendet rund um die Uhr Podcastformate aus ganz verschiedenen Themenbereichen. Ideal zum einfach mal reinhören und neue Podcasts entdecken.</h4>
		<hr />
	</div>
</div>

<div class="row">
	<div class="large-9 columns">
		<% @episodes.each do |episode| %>
			<% podcast = episode["db"] %>
			<div class="row episode">
				<div class="small-3 columns">
					<!-- EPISODE PODCAST IMAGE -->
					<% if !podcast.nil? %><h2><img src="http://reliveradio.de/podcasts/logos/<%= podcast.slugintern %>.jpg"></h2><% end %>
					<!-- EPISODE PLAYTIME -->
					<div class="show-for-small playtime-small">
						<div class="time-info"><i class="icon-play"></i> <%= episode['starts'].strftime("%H:%M") %></div>
						<div class="time-info"><i class="icon-stop"></i> <%= episode['ends'].strftime("%H:%M") %></div>
						<div class="time-info"><i class="icon-time"></i> <%= episode['duration'] %> Min.</div>
						<% if episode["isLive"] %>
							<div class="time-info"><i class="icon-arrow-right"></i> <span class="timeleft"></span> Min.</div>
							<!-- <div class="time-info"><span class="percentplayed"></span></div>
							<div class="time-info"><span class="percentleft"></span></div> -->
						<% end %>
					</div>
					<div class="hide-for-small playtime-large">
						<div class="time-info"><strong><i class="icon-play"></i> Beginn:</strong> <%= episode['starts'].strftime("%H:%M") %></div>
						<div class="time-info"><strong><i class="icon-stop"></i> Ende:</strong> <%= episode['ends'].strftime("%H:%M") %></div>
						<div class="time-info"><strong><i class="icon-time"></i> Dauer:</strong> <%= episode['duration'] %> Min.</div>
						<% if episode["isLive"] %>
							<div class="time-info"><strong><i class="icon-arrow-right"></i> Rest:</strong> <span class="timeleft"></span> Min.</div>
							<div class="progress time-info"><span class="meter liveprogress" style="width: 0%"></span></div>
							<!-- <div class="time-info"><span class="percentplayed"></span></div>
							<div class="time-info"><span class="percentleft"></span></div> -->
						<% end %>
					</div>
				</div>
				<div class="small-9 columns">
					<!-- NAME TRACK DESCRIPTION -->
					<h2><%= !podcast.nil? ? podcast.name : episode['artist_name'] %></h2>
					<h5><%= episode['track_title'] %></h5>
					<% if episode["isLive"] %><div class="progress show-for-small"><span class="meter liveprogress" style="width: 0%"></span></div><% end %>
					<p class="hide-for-small"><% if !podcast.nil? %><%= podcast.description %><% end %></p>
					<% if !podcast.nil? %>
						<!-- SOCIAL LINKS - MORE METAINFO FOR PODCAST -->
					    <ul class="inline-list hide-for-small">
					      <!-- WEBSITE -->
					      <% if !podcast.url.blank? %><li><a href="<%= podcast.url %>"><i class="icon-globe"></i> Webseite</a></li><% end %>
					      <!-- FEED -->
					      <% if !podcast.feedurl.blank? %><li><a href="http://b.instaca.st/button/subscribe?url=<%= podcast.feedurl %>"><i class="icon-rss"></i> Abonnieren</a></li><% end %>
					      <!-- TWITTER -->
					      <% if !podcast.twitterhandle.blank? %><li><a href="http://www.twitter.com/<%= podcast.twitterhandle %>"><i class="icon-twitter"></i> Twitter</a></li><% end %>
					      <!-- FLATTR -->
					      <% if !podcast.flattrhandle.blank? %><li>
					        <a href="https://flattr.com/submit/auto?user_id=<%= podcast.flattrhandle %>&url=http://reliveradio.de/<%= podcast.slugintern %>&title=<%= podcast.name %> im ReliveRadio&language=de&category=audio"><i class="icon-heart"></i> Flattr</a>
					      </li><% end %>
					      <!-- HOERSUPPE -->
					      <% if !podcast.hoersuppeslug.blank? %><li><a href="http://hoersuppe.de/podcast/<%= podcast.hoersuppeslug %>"><i class="icon-headphones"></i> Hörsuppe</a></li><% end %>
					    </ul>
					    <!-- MORE INFO LINK FOR MOBILE VIEW -->
						<p class="show-for-small"><a href="<%= info_url(:slugintern => podcast.slugintern) %>"><i class="icon-info-sign"></i> Mehr Informationen</a></p>
					<% end %>
					<!-- START LIVESTREAM PLAYER BUTTON -->
					<% if episode["isLive"] %>
						<div class="livestreambutton button success show-for-small"></div>
					<% end %>
				</div>
			</div>
			<hr />
		<% end %>	
	</div>
	<!-- SIDEBAR -->
	<div class="large-3 columns">
		<div class="panel">
			<h4>Livestream</h4>
			<p style="display: none"><audio id="player" src="http://stream.reliveradio.de:8000/24.mp3"></p>
			<div class="livestreambutton button small success"></div>
			<p>Falls du den Livestream mit einem externen Programm hören willst, dann benutze folgende Stream URLs:</p>
			<ul class="inline-list">
				<li><a href="http://stream.reliveradio.de:8000/24.mp3">mp3-high</a></li>
				<li><a href="http://stream.reliveradio.de:8000/24mobile.mp3">mp3-low</a></li>
			</ul>

			<h4>Alles Beta</h4>
			<p>Der "Sendebetrieb" begann Mitte Oktober 2012, weshalb sich das Projekt noch in einer experimentellen Anfangsphase befindet. Der Radiostream läuft seitdem jedoch nahezu unterbrechungsfrei.</p>
		</div>
	</div>
</div>


<!-- PROGRESS BAR UPDATER -->
<script>

	// catch the progressbar from dom
	var progressbars = $(".liveprogress");
	var time_left_views = $(".timeleft");
	var percent_played_views = $(".percentplayed");
	var percent_left_views = $(".percentleft");

	function update_progressbar(start_time, end_time) {
	    // convert dates to milliseconds
	    var start = start_time.getTime();
	    var end = end_time.getTime();
		var now = new Date().getTime();
		
		// do math
		var duration = Math.abs(end - start);
		var played = Math.abs(now - start);
		// more percent math
		var percent_played = (played / duration) * 100;
		var percent_left = Math.floor(100 - percent_played);
		var time_left = Math.abs(end - now);

		// update view elements
		progressbars.each(function() {
  			$(this).width(percent_played + '%');
		});
		time_left_views.each(function() {
  			$(this).text(Math.floor(time_left / 60 / 1000));
		});
		percent_played_views.each(function() {
  			$(this).text(Math.floor(percent_played) + "%");
		});
		percent_played_views.each(function() {
  			$(this).text(percent_left + "%");
		});
	}
	
	// data is passed in by rails server here
	// var d = new Date(year, month, day, hours, minutes, seconds, milliseconds);
	var starts = new Date(<%= @episodes.first['starts'].strftime('%Y,%m,%d,%H,%M,%S,0') %>);
	var ends = new Date(<%= @episodes.first['ends'].strftime('%Y,%m,%d,%H,%M,%S,0') %>);
	starts.setMonth(starts.getMonth() - 1);
	ends.setMonth(ends.getMonth() - 1);

	update_progressbar(starts, ends);

	// refresh time in milliseconds
	// this refreshes every 1 minute
	var intervalTime = 1 * 60 * 1000;
	// start timer
	window.setInterval(function(){
		update_progressbar(starts, ends);
		// check if podcast played completely
		var now = new Date();
		if (now > ends) {
			location.reload();
		}
	}, intervalTime);
</script>


<!-- LIVESTREAM MEDIAELEMENT PLAYER -->
<script>
	// using jQuery
	var player = new MediaElementPlayer('#player',{
	    startVolume: 0.8,
	    // useful for <audio> player loops
	    loop: false,
	    // enables Flash and Silverlight to resize to content size
	    enableAutosize: true,
	    // the order of controls you want on the control bar (and other plugins below)
	    features: ['playpause','volume'],
	    audioWidth: 130,
	    // Hide controls when playing and mouse is not over the video
	    alwaysShowControls: false,
	    // force iPad's native controls
	    iPadUseNativeControls: false,
	    // force iPhone's native controls
	    iPhoneUseNativeControls: false, 
	    // force Android's native controls
	    AndroidUseNativeControls: false,
		pluginPath: '/assets/mediaelement_rails/',
		// name of flash file
		flashName: 'flashmediaelement.swf',
		// name of silverlight file
		silverlightName: 'silverlightmediaelement.xap',
		// default if the <video width> is not specified
	    enableKeyboard: true,
	    // when this player starts, it will pause other players
	    pauseOtherPlayers: true,
	    // array of keyboard commands
	    keyActions: []
	});

	var livestreambuttons = $(".livestreambutton")

	livestreambuttons.each(function() {
		$(this).click(startPlayer);
		$(this).html('<i class="icon-play"></i> Livestream starten');
	});

	function startPlayer() {
		// player.setSrc('mynewfile.mp4');
		player.play();
		livestreambuttons.each(function() {
			$(this).click(pausePlayer);
			$(this).html('<i class="icon-pause"></i> Livestream stoppen');
			$(this).removeClass('success');
			$(this).addClass('alert');
		});		
	}

	function pausePlayer() {
		// player.setSrc('mynewfile.mp4');
		player.pause();
		livestreambuttons.each(function() {
			$(this).click(startPlayer);
			$(this).html('<i class="icon-play"></i> Livestream starten');
			$(this).removeClass('alert');
			$(this).addClass('success');
		});		
	}
</script>
