<div class="row">
	<div class="large-12 columns">
		<h1>Sendeplan</h1>
		<%= link_to "Alle Podcasts", overview_url %>

		<% @episodes.each do |episode| %>
			<% podcast = episode["db"] %>				
				<h2><%= episode['artist_name'] %></h2>
				<% if episode["isLive"] %>
					<span class="success label">Jetzt Live!</span>
				<% end %>
				<h2><img src="http://reliveradio.de/podcasts/logos/<%= podcast.slugintern %>.jpg"></h2>
				<p><%= episode['track_title'] %></p>
				<p><%= podcast.description %></p>
				<p><%= episode['starts'].strftime("%H:%M") %> - <%= episode['ends'].strftime("%H:%M") %></p>
				<p><%= link_to "Mehr Infos", info_url(:slugintern => podcast.slugintern) %></p>
		<% end %>	
	</div>
</div>

