<%= stylesheet_link_tag "culture_stream" %>
<% title "Kultur Stream" %>

<div class="row">
	<div class="large-3 columns">
		<div class="logo-container">
			<%= image_tag "logo.png", :class => "logo" %>
		</div>
		<ul id="stream-selector">
			<li><%= link_to "Technik", :technique_stream, :class => "technique" %></li>
			<li><%= link_to "Kultur", :culture_stream, :class => "culture active" %></li>
		</ul>
		<div class="hide-for-small">
			<span class="livestreambutton off">Livestream starten</span>
	  </div>
		<ul class="side-nav hide-for-small">
		  <li class="active"><a href="#">Link 1</a></li>
		  <li><a href="#">Link 2</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Link 3</a></li>
		  <li><a href="#">Link 4</a></li>
		</ul>
	</div>
	<div class="large-9 columns">
		<div id="live-episode">
		<h1>KULTUR Stream</h1>
		<h3 class="subheader">Kultur, Gesellschaft, Musik</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, at, ipsum obcaecati optio similique mollitia neque pariatur architecto eaque voluptate. Impedit, vel amet eligendi magnam illo eius fugiat rem doloremque.</p>
			<%= render 'live_episode', :episode => @live_episode, :podcast => @live_episode["db"] %>
		</div>
		<div class="upcoming show-for-small"><i class="icon-arrow-down"></i> Nächste Podcasts <i class="icon-arrow-down"></i></div>
		<div class="ribboncontainer hide-for-small"><div class="ribbon"><div class="ribbon-stitches-top"></div><div class="ribbon-content"><h1><i class="icon-arrow-down"></i> Nächste Podcasts <i class="icon-arrow-down"></i></h1></div><div class="ribbon-stitches-bottom"></div></div></div>
		<div id="episodes">
			<%= render 'episodes', :episodes => @episodes %>
		</div>
	</div>
</div>

<audio id="player" preload="none" src="http://stream.reliveradio.de:8000/24.mp3"></audio>

<!-- LISTENERS COUNT SETUP -->
<%= javascript_tag do %>
	<% if !@listeners.blank? %>
		window.listeners = <%= @listeners %>;
	<% else %>
		window.listeners = -1;
	<% end %>
<% end %>

<%= javascript_include_tag 'stream' %>
<%= javascript_include_tag 'stream_culture' %>