<div class="row">
    <div class="large-12 columns">

        <h1>Alle Podcasts in der Datenbank</h1>

        <%= link_to 'Neuer Podcast', new_podcast_path, :class => "button secondary" %>
        <%= link_to "CSV herunterladen", podcasts_path(format: "csv"), :class => "button secondary" %>

        <%= form_tag import_podcasts_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Importieren"%>
        <% end %>

    </div>
</div>

<% @podcasts.each do |podcast| %>
    <div class="row">
      <div class="large-3 columns">
        <h2><img src="http://reliveradio.de/podcasts/logos/<%= podcast.slugintern %>.jpg"></h2>
      </div>
      <div class="large-9 columns">
        <h2 class="subheader breaklines"><%= podcast.name %></h2>
        <div class="breaklines"><strong>url: </strong><%= link_to podcast.url, podcast.url %></div>
        <div class="breaklines"><strong>slugintern: </strong><%= podcast.slugintern %></div>
        <div class="breaklines"><strong>flattrhandle: </strong><%= podcast.flattrhandle %></div>
        <div class="breaklines"><strong>twitterhandle: </strong><%= podcast.twitterhandle %></div>
        <div class="breaklines"><strong>hoersuppeslug: </strong><%= podcast.hoersuppeslug %></div>
        <div class="breaklines"><strong>feedurl: </strong><%= podcast.feedurl %></div>
        <div class="breaklines"><strong>artistname: </strong><%= podcast.artistname %></div>
        <div class="breaklines"><strong>description: </strong><%= podcast.description %></div>
        <ul class="button-group">
            <li><%= link_to 'Bearbeiten', edit_podcast_path(podcast), :class => "button secondary" %></li>
            <li><%= link_to 'Löschen', podcast, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert" %></li>
        </ul>
      </div>
    </div>
<% end %>


