<h1>Listing podcasts</h1>

<%= link_to 'New Podcast', new_podcast_path %> | 
<%= link_to "Download as CSV", podcasts_path(format: "csv") %>

<h2>Import Podcasts</h2>
<%= form_tag import_podcasts_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table class="responsive">
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Slugintern</th>
    <th>Flattrhandle</th>
    <th>Twitterhandle</th>
    <th>Hoersuppeslug</th>
    <th>Feedurl</th>
    <th>Artistname</th>
    <th>Beschreibung</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @podcasts.each do |podcast| %>
  <tr>
    <td><%= podcast.name %></td>
    <td><%= podcast.url %></td>
    <td><%= podcast.slugintern %></td>
    <td><%= podcast.flattrhandle %></td>
    <td><%= podcast.twitterhandle %></td>
    <td><%= podcast.hoersuppeslug %></td>
    <td><%= podcast.feedurl %></td>
    <td><%= podcast.artistname %></td>
    <td><%= podcast.description %></td>
    <td><%= link_to 'Show', podcast %></td>
    <td><%= link_to 'Edit', edit_podcast_path(podcast) %></td>
    <td><%= link_to 'Destroy', podcast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

