<% title "Alle Podcasts" %>

<div class="row">
    <div class="large-12 columns">
        <h1>Alle Podcasts</h1>
        <h4 class="subheader hide-for-small">Hier findet ihr nun eine Liste all der Podcasts, die bereits zugesagt haben, dass sie auch beim ReliveRadio gespielt werden dürfen. Wir bedanken uns bei allen Podcasts, die bereit sind bei diesem Projekt mitzumachen.</h4>
        <hr />
    </div>
</div>

<% toggle = 0 %>
<% @podcasts.each do |podcast| %>
    <% if toggle%3 == 0 %>
        <div class="row podcast">
    <% end %>

      <div class="large-4 columns">

        <a href="<%= info_url(:slugintern => podcast.slugintern) %>"><img src="http://reliveradio.de/podcasts/logos/<%= podcast.slugintern %>.jpg"></a>
        <h3 class="breaklines"><%= podcast.name %></h3>
        <p class="hide-for-small"><%= podcast.description %></p>
        <p><a href="<%= info_url(:slugintern => podcast.slugintern) %>"><i class="icon-info-sign"></i> Mehr Informationen</a></p>
      
      </div>
    <% if toggle%3 == 2 %>
        </div>
    <% end %>
    <% toggle = toggle + 1 %>
<% end %>


