<!-- NAVIGATION BAR -->
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to 'ReliveRadio', root_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
		<li class="divider"></li>
    <li class="has-dropdown"><%= link_to 'Hören', root_path %>
      <ul class="dropdown">
        <li><%= link_to 'Mix', mix_stream_url %></li>
        <li><%= link_to 'Technik', technique_stream_url %></li>
        <li><%= link_to 'Kultur', culture_stream_url %></li>
      </ul>
    </li>
		<li class="divider"></li>
		<li><%= link_to 'Podcast Verzeichnis', overview_url %></li>
		<li class="divider"></li>
		<li><%= link_to 'Über Uns', about_url %></li>
		<li class="divider"></li>
		<li><%= link_to 'Uns Unterstützen', help_url %></li>
    <li class="divider"></li>
    <li><%= link_to 'Blog', "http://blog.reliveradio.de/" %></li>
    <li class="divider"></li>
    <li><%= link_to 'Chat', chat_url %></li>
		<li class="divider hide-for-small"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
        <li class="divider"></li>
      	<li><%= link_to 'Intern', podcasts_path %></li>
        <li class="divider"></li>
        <li><a href="http://blog.reliveradio.de/impressum/">Impressum</a></li>
    </ul>
  </section>
</nav>